#sobreNos {
    color: #8E2424;
    font-size: 16px;
    font-weight: 600;
}
#cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 24px;
    order: 1;
    align-self: stretch;
}
#titulo1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #101828;
}
#textoSuporte {
    width: 791px;
    height: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #667085;
}