@media screen and (max-width: 500px) {
    body{
        width: 500px;
    }
    #cabecalho {
        width: 500px;
    }
    #textoSuporte {
        width: 400px;
    }
    #navigation {
        display: none;
        
    }
    #espaço {
        display: none;
    }
    #secaoNav{
        width: 443px;
    }
    nav {
        width: 500px;
    }
    #secaoItems {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #secaoVagas {
        width: 500px;
    }
    #tituloTalentos {
        width: 350px
    }
    #textoTalentos {
        width: 350px
    }
    #imagemPessoas {
        width: 450px;
        height: 200px;
    }
    #vagasAbertas {
        width: 450px;
    }
    .borda{
        width: 425px;
    }
    #secaoDepoimentos {
        width: 482.5px;
        margin: 0px;
    }
    #divDepoimentos {
        width: 450px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    #quoteAndSubheading {
        width: 450px;
    }
    #quote {
        font-size: 20px;
    }
    #atribuicao {
        width: 450px;
    }
    #secaoFormulario {
        width: 500px;
        height: 200px;
        margin-top: 75px;
    }
    #infoFormulario {
        width: 500px;
    }
    #tituloFormulario {
        font-size: 24px;
    }
    #suporteFormulario {
        font-size: 14px;
    }
    #capturaEmail {
        width: 350px;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
    #email {
        padding-left: 10px;
    }
    #textoEmail {
        font-size: 14px;
    }
    #textoCadastrar {
        padding: 10px;
    }
    #footerText {
        font-size: 10px;
    }
}