#secaoVagas {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1440px;
    margin: 96px auto 96px auto;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

#divTalentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#vagas {
    color:#8E2424;
    border-radius: 16px;
    background-color: rgba(142, 36, 36, 0.05);
    width: 125px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 2px 6px;
    font-size: 14px;
}

#tituloTalentos {
    color: #101828;
    padding: 96px, 0px, 96px, 0px;
    margin: 0px;
    font-size: 32px;
    font-weight: 600;
}
#textoTalentos {
    color: #667085;
    font-size: 20px;
    font-weight: 500;
}
#imagemPessoas {
    width: 1216px;
    height: 400px;
}

.divVagasTitulo {
    width: 768px;
    text-align: left;
    color: #101828;
    font-weight: 600;
    font-size: 20px;
    gap: 64px;
}
.divVagasTitulo2 {
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin: 0px;
}
#divVagas1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.divVagasText {
    margin: 0px;
    color: rgba(102, 112, 133, 1);
}

.divVagasStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 768px;
}

.modeloDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin: 24px
}

.details {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.borda {
    
    width: 768px;
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    border-radius: 16px;
}